In [33]:
import pandas as pd
import json

with open("subject_data.json", "r") as file:
    data = json.load(file)

In [34]:
df = pd.DataFrame(data, dtype = str)

In [36]:
df

                                description code
0                      Academic Foundations  003
1                          Academic Studies  005
2          Academic and Student Development  907
3                                Accounting  010
4                 Administration of Justice  012
..                                      ...  ...
506                   Wildlife Conservation  985
507  Women's, Gender, and Sexuality Studies  988
508                         World Languages  991
509                                 Writing  989
510                                 Zoology  990

[511 rows x 2 columns]

In [21]:
from bs4 import BeautifulSoup
import requests
import time
from selenium import webdriver

In [40]:
driver = webdriver.Chrome()
page = driver.get("https://classes.rutgers.edu/soc/#courses?subject=010&semester=12025&campus=NB&level=U")
time.sleep(2)
html = driver.page_source

soup = BeautifulSoup(html, "html.parser")
driver.quit()

In [ ]:
all_titles = soup.find_all(class_ = "courseTitle")
all_ids = soup.find_all(class_ = "courseId")
all_creds = soup.find_all(class_ = "courseCredits")

synopsis

for title, id, cred in zip(all_titles, all_ids, all_creds):
    print(title.text, id.text, cred.text)

INTRODUCTION TO FINANCIAL ACCOUNTING 33:010:272 3 credits
INTRODUCTION TO MANAGERIAL ACCOUNTING 33:010:275 3 credits
INTERMED ACCTNG I 33:010:325 3 credits
INTERMED ACCTNG II 33:010:326 3 credits
ADVANCED ACCOUNTING 33:010:401 3 credits
CONCEPTS OF AUDITING 33:010:415 3 credits
AUDIT ANALYTICS 33:010:416 3 credits
INCOME TAX ACCOUNTNG 33:010:421 3 credits
TPCS INCOME TAXATION 33:010:422 3 credits
COST ACCOUNTING 33:010:451 3 credits
ACCTNG INFORM SYSTS 33:010:458 3 credits
CPA LEVEL FINANCIAL ACCOUNTING AND REPORTING 33:010:475 3 credits
HONORS PROJECT ACCTG 33:010:495 3 credits